<div data-partial-content>
	<div class="content__header">
		<div class="wrapper">
			<div class="content-header__inner">
				<div class="content-header__column content-header__column--title">
					<h1 data-partial-title>Not found</h1>
				</div>
			</div>
		</div>
	</div>
	<main class="content__body">
		<div class="wrapper">
			<div class="content-body__inner">
				<div class="text-align-center pv-50">
					<p class="h1 mb-30">
						<strong>Sorry, we couldn't find what you are looking for :(</strong>
					</p>
					<a class="button" href="/">Back to home</a>
				</div>
			</div>
		</div>
	</main>
</div>
