<div class="card__inner">
	<div class="card__column card__column--image">
		<figure class="avatar card__avatar">
			<div title="Dulce Mays (Updated)" class="avatar__wrapper">
				<abbr class="avatar__abbreviation">DM</abbr>
				<div
					role="img"
					aria-label="Dulce Mays's Updated Avatar"
					class="avatar__image"
					style='background-image: url("//i.pravatar.cc/90?img=47");'
				></div>
			</div>
		</figure>
	</div>
	<div class="card__column card__column--info">
		<div class="card__header">
			<h3 class="card__title">
				<span>Dulce Mays (Updated)</span>
			</h3>
		</div>
		<ul class="card__meta">
			<li class="card__meta-item card__meta-item--subject color--green">
				<span>This card is already updated</span>
			</li>
		</ul>
	</div>
</div>
