<div data-partial-content>
	<div class="content__header">
		<div class="wrapper">
			<div class="content-header__inner">
				<div class="content-header__column content-header__column--title">
					<h1 data-partial-title>Demo List</h1>
				</div>
				<div class="content-header__column content-header__column--navigation">
					<nav aria-label="Pagination">
						<ol class="pagination">
							<li class="pagination__item pagination__item--previous-group">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Previous set of pages"
									aria-disabled="true"
									tabindex="-1"
									href="/"
									><span class="visuallyhidden">Previous set of pages</span></a
								>
							</li>
							<li class="pagination__item pagination__item--previous-page">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Previous page"
									aria-disabled="true"
									tabindex="-1"
									href="/p/1/"
									><span class="visuallyhidden">Previous page</span></a
								>
							</li>
							<li class="pagination__item pagination__item--is-active">
								<a
									class="pagination__link"
									aria-current="page"
									tabindex="-1"
									href="/p/1/"
									><span class="visuallyhidden">page #</span>1</a
								>
							</li>
							<li class="pagination__item">
								<a class="pagination__link" aria-disabled="false" href="/p/2/"
									><span class="visuallyhidden">page #</span>2</a
								>
							</li>
							<li class="pagination__item">
								<a class="pagination__link" aria-disabled="false" href="/p/3/"
									><span class="visuallyhidden">page #</span>3</a
								>
							</li>
							<li class="pagination__item pagination__item--next-page">
								<a
									class="pagination__link"
									title="Next page"
									aria-disabled="false"
									href="/p/2/"
									><span class="visuallyhidden">Next page</span></a
								>
							</li>
							<li class="pagination__item pagination__item--next-group">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Next set of pages"
									aria-disabled="true"
									tabindex="-1"
									href="/"
									><span class="visuallyhidden">Next set of pages</span></a
								>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<main class="content__body">
		<div class="wrapper">
			<div class="content-body__inner">
				<p aria-live="polite" class="visuallyhidden">Showing results 1 to 15</p>
				<ol class="card-list">
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Caitlin Horn"
										class="avatar__wrapper"
										href="/popup/short"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">CH</abbr>
										<div
											role="img"
											aria-label="Caitlin Horn's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=1");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/popup/short" data-show-in-modal>Caitlin Horn</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a short popup with a link to a long popup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Trevor Dillon"
										class="avatar__wrapper"
										href="/popup/long"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">TD</abbr>
										<div
											role="img"
											aria-label="Trevor Dillon's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=2");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/popup/long" data-show-in-modal>Trevor Dillon</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a long popup with a link to short poup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Aisha Peters"
										class="avatar__wrapper"
										href="/blahblah/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">AP</abbr>
										<div
											role="img"
											aria-label="Aisha Peters's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=3");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/blahblah/" data-show-in-modal>Aisha Peters</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with the content of a wrong URL</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Jaquan Foster"
										class="avatar__wrapper"
										href="//gamesysgroup.com"
										target="_blank"
										tabindex="-1"
										><abbr class="avatar__abbreviation">JF</abbr>
										<div
											role="img"
											aria-label="Jaquan Foster's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=4");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="//gamesysgroup.com" target="_blank"
											>Jaquan Foster</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens the link in a new window</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Efrain Galvan"
										class="avatar__wrapper"
										href="/p/2/"
										data-ajax-prevent
										tabindex="-1"
										><abbr class="avatar__abbreviation">EG</abbr>
										<div
											role="img"
											aria-label="Efrain Galvan's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=5");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/2/" data-ajax-prevent>Efrain Galvan</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span
											>Opens the link in the same document without using
											JavaScript</span
										>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Angelica Olsen"
										class="avatar__wrapper"
										href="/p/3/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">AO</abbr>
										<div
											role="img"
											aria-label="Angelica Olsen's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=6");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/3/">Angelica Olsen</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span
											>Opens the link in the same document via JavaScript</span
										>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card" id="reloadable-card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Dulce Mays"
										class="avatar__wrapper"
										href="/"
										data-ajax-url="new-card"
										data-ajax-target="#reloadable-card"
										tabindex="-1"
										><abbr class="avatar__abbreviation">DM</abbr>
										<div
											role="img"
											aria-label="Dulce Mays's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=7");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a
											href="/"
											data-ajax-url="new-card"
											data-ajax-target="#reloadable-card"
											>Dulce Mays</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Updates this Card block with a new content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Dean Garrett"
										class="avatar__wrapper"
										href="/static/css/styles.js"
										target="_blank"
										tabindex="-1"
										><abbr class="avatar__abbreviation">DG</abbr>
										<div
											role="img"
											aria-label="Dean Garrett's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=8");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/static/css/styles.js" target="_blank"
											>Dean Garrett</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a not-found static asset in a new window</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Travis Rangel"
										class="avatar__wrapper"
										href="/popup/short/"
										data-show-in-modal
										data-modal-title="Travis Rangel (Custom Title)"
										tabindex="-1"
										><abbr class="avatar__abbreviation">TR</abbr>
										<div
											role="img"
											aria-label="Travis Rangel's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=9");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a
											href="/popup/short/"
											data-show-in-modal
											data-modal-title="Travis Rangel (Custom Title)"
											>Travis Rangel</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with custom static title</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Shayna Gillespie"
										class="avatar__wrapper"
										href="/lazy/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">SG</abbr>
										<div
											role="img"
											aria-label="Shayna Gillespie's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=10");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lazy/" data-show-in-modal>Shayna Gillespie</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with lazy loaded content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Madilyn Bautista"
										class="avatar__wrapper"
										href="/p/1/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">MB</abbr>
										<div
											role="img"
											aria-label="Madilyn Bautista's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=11");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/1/" data-show-in-modal>Madilyn Bautista</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens homepage content in a popup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Aimee Bernard"
										class="avatar__wrapper"
										href="/lorem/ipsum/p/5/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">AB</abbr>
										<div
											role="img"
											aria-label="Aimee Bernard's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=12");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lorem/ipsum/p/5/">Aimee Bernard</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a link with multi-part URL</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Keith Soto"
										class="avatar__wrapper"
										href="/empty/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">KS</abbr>
										<div
											role="img"
											aria-label="Keith Soto's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=13");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/empty/">Keith Soto</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens an empty page</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Izayah Blevins"
										class="avatar__wrapper"
										href="/lazy/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">IB</abbr>
										<div
											role="img"
											aria-label="Izayah Blevins's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=14");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lazy/">Izayah Blevins</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a page with lazy loaded content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Kasey Frost"
										class="avatar__wrapper"
										href="/blabblah/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">KF</abbr>
										<div
											role="img"
											aria-label="Kasey Frost's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=15");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/blahblah/">Kasey Frost</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a not-found page</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</main>
</div>
