<div data-partial-content>
	<div class="content__header">
		<div class="wrapper">
			<div class="content-header__inner">
				<div class="content-header__column content-header__column--title">
					<h1 data-partial-title>Demo List (Page II)</h1>
				</div>
				<div class="content-header__column content-header__column--navigation">
					<nav aria-label="Pagination">
						<ol class="pagination">
							<li class="pagination__item pagination__item--previous-group">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Previous set of pages"
									aria-disabled="true"
									tabindex="-1"
									href="/"
									><span class="visuallyhidden">Previous set of pages</span></a
								>
							</li>
							<li class="pagination__item pagination__item--previous-page">
								<a
									class="pagination__link"
									title="Previous page"
									aria-disabled="false"
									tabindex="-1"
									href="/p/1/"
									><span class="visuallyhidden">Previous page</span></a
								>
							</li>
							<li class="pagination__item">
								<a class="pagination__link" aria-disabled="false" href="/p/1/"
									><span class="visuallyhidden">page #</span>1</a
								>
							</li>
							<li class="pagination__item pagination__item--is-active">
								<a
									class="pagination__link"
									aria-current="page"
									tabindex="-1"
									href="/p/2/"
									><span class="visuallyhidden">page #</span>2</a
								>
							</li>
							<li class="pagination__item">
								<a class="pagination__link" aria-disabled="false" href="/p/3/"
									><span class="visuallyhidden">page #</span>3</a
								>
							</li>
							<li class="pagination__item pagination__item--next-page">
								<a
									class="pagination__link"
									title="Next page"
									aria-disabled="false"
									href="/p/3/"
									><span class="visuallyhidden">Next page</span></a
								>
							</li>
							<li class="pagination__item pagination__item--next-group">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Next set of pages"
									aria-disabled="true"
									tabindex="-1"
									href="/"
									><span class="visuallyhidden">Next set of pages</span></a
								>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<main class="content__body">
		<div class="wrapper">
			<div class="content-body__inner">
				<p aria-live="polite" class="visuallyhidden">
					Showing results 16 to 30
				</p>
				<ol class="card-list">
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Messiah Ayala"
										class="avatar__wrapper"
										href="/popup/short"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">MA</abbr>
										<div
											role="img"
											aria-label="Messiah Ayala's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=16");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/popup/short" data-show-in-modal>Messiah Ayala</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a short popup with a link to a long popup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Liliana Miranda"
										class="avatar__wrapper"
										href="/popup/long"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">LM</abbr>
										<div
											role="img"
											aria-label="Liliana Miranda's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=17");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/popup/long" data-show-in-modal>Liliana Miranda</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a long popup with a link to short poup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Caden Wu"
										class="avatar__wrapper"
										href="/blahblah/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">CW</abbr>
										<div
											role="img"
											aria-label="Caden Wu's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=18");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/blahblah/" data-show-in-modal>Caden Wu</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with the content of a wrong URL</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Killian Charles"
										class="avatar__wrapper"
										href="//gamesysgroup.com"
										target="_blank"
										tabindex="-1"
										><abbr class="avatar__abbreviation">KC</abbr>
										<div
											role="img"
											aria-label="Killian Charles's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=19");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="//gamesysgroup.com" target="_blank"
											>Killian Charles</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens the link in a new window</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Julianne Wright"
										class="avatar__wrapper"
										href="/p/2/"
										data-ajax-prevent
										tabindex="-1"
										><abbr class="avatar__abbreviation">JW</abbr>
										<div
											role="img"
											aria-label="Julianne Wright's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=20");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/2/" data-ajax-prevent>Julianne Wright</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span
											>Opens the link in the same document without using
											JavaScript</span
										>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Santino French"
										class="avatar__wrapper"
										href="/p/3/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">SF</abbr>
										<div
											role="img"
											aria-label="Santino French's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=21");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/3/">Santino French</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span
											>Opens the link in the same document via JavaScript</span
										>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card" id="reloadable-card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Hadassah Chase"
										class="avatar__wrapper"
										href="/"
										data-ajax-url="new-card"
										data-ajax-target="#reloadable-card"
										tabindex="-1"
										><abbr class="avatar__abbreviation">HC</abbr>
										<div
											role="img"
											aria-label="Hadassah Chase's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=22");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a
											href="/"
											data-ajax-url="new-card"
											data-ajax-target="#reloadable-card"
											>Hadassah Chase</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Updates this Card block with a new content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Ethan Rubio"
										class="avatar__wrapper"
										href="/static/css/styles.js"
										target="_blank"
										tabindex="-1"
										><abbr class="avatar__abbreviation">ER</abbr>
										<div
											role="img"
											aria-label="Ethan Rubio's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=23");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/static/css/styles.js" target="_blank"
											>Dean Garrett</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a not-found static asset in a new window</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Antonio Barber"
										class="avatar__wrapper"
										href="/popup/short/"
										data-show-in-modal
										data-modal-title="Travis Rangel (Custom Title)"
										tabindex="-1"
										><abbr class="avatar__abbreviation">AB</abbr>
										<div
											role="img"
											aria-label="Antonio Barber's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=24");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a
											href="/popup/short/"
											data-show-in-modal
											data-modal-title="Antonio Barber (Custom Title)"
											>Antonio Barber</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with custom static title</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Fernando Franco"
										class="avatar__wrapper"
										href="/lazy/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">FF</abbr>
										<div
											role="img"
											aria-label="Fernando Franco's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=25");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lazy/" data-show-in-modal>Fernando Franco</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with lazy loaded content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Gilberto Davidson"
										class="avatar__wrapper"
										href="/home/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">GD</abbr>
										<div
											role="img"
											aria-label="Gilberto Davidson's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=26");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/1/" data-show-in-modal>Gilberto Davidson</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens homepage content in a popup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Barbara Flynn"
										class="avatar__wrapper"
										href="/lorem/ipsum/p/5/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">BF</abbr>
										<div
											role="img"
											aria-label="Barbara Flynn's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=27");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lorem/ipsum/p/5/">Barbara Flynn</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a link with multi-part URL</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Damian Curtis"
										class="avatar__wrapper"
										href="/empty/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">DC</abbr>
										<div
											role="img"
											aria-label="Damian Curtis's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=28");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/empty/">Damian Curtis</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens an empty page</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Armando Pennington"
										class="avatar__wrapper"
										href="/lazy/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">AP</abbr>
										<div
											role="img"
											aria-label="Armando Pennington's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=29");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lazy/">Armando Pennington</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a page with lazy loaded content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Monserrat Fry"
										class="avatar__wrapper"
										href="/blabblah/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">MF</abbr>
										<div
											role="img"
											aria-label="Monserrat Fry's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=30");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/blahblah/">Monserrat Fry</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a not-found page</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</main>
</div>
