<div data-partial-content>
	<div class="content__header">
		<div class="wrapper">
			<div class="content-header__inner">
				<div class="content-header__column content-header__column--title">
					<h1 data-partial-title>Demo List (Page III)</h1>
				</div>
				<div class="content-header__column content-header__column--navigation">
					<nav aria-label="Pagination">
						<ol class="pagination">
							<li class="pagination__item pagination__item--previous-group">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Previous set of pages"
									aria-disabled="true"
									tabindex="-1"
									href="/"
									><span class="visuallyhidden">Previous set of pages</span></a
								>
							</li>
							<li class="pagination__item pagination__item--previous-page">
								<a
									class="pagination__link"
									title="Previous page"
									aria-disabled="false"
									tabindex="-1"
									href="/p/2/"
									><span class="visuallyhidden">Previous page</span></a
								>
							</li>
							<li class="pagination__item">
								<a class="pagination__link" aria-disabled="false" href="/p/1/"
									><span class="visuallyhidden">page #</span>1</a
								>
							</li>
							<li class="pagination__item">
								<a class="pagination__link" aria-disabled="false" href="/p/2/"
									><span class="visuallyhidden">page #</span>2</a
								>
							</li>
							<li class="pagination__item pagination__item--is-active">
								<a
									class="pagination__link"
									aria-current="page"
									tabindex="-1"
									href="/p/3/"
									><span class="visuallyhidden">page #</span>3</a
								>
							</li>
							<li class="pagination__item pagination__item--next-page">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Next page"
									aria-disabled="true"
									href="/"
									><span class="visuallyhidden">Next page</span></a
								>
							</li>
							<li class="pagination__item pagination__item--next-group">
								<a
									class="pagination__link pagination__link--is-disabled"
									title="Next set of pages"
									aria-disabled="true"
									tabindex="-1"
									href="/"
									><span class="visuallyhidden">Next set of pages</span></a
								>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<main class="content__body">
		<div class="wrapper">
			<div class="content-body__inner">
				<p aria-live="polite" class="visuallyhidden">
					Showing results 31 to 45
				</p>
				<ol class="card-list">
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Hillary Rogers"
										class="avatar__wrapper"
										href="/popup/short"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">HR</abbr>
										<div
											role="img"
											aria-label="Hillary Rogers's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=31");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/popup/short" data-show-in-modal>Hillary Rogers</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a short popup with a link to a long popup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Desirae Wilkins"
										class="avatar__wrapper"
										href="/popup/long"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">DW</abbr>
										<div
											role="img"
											aria-label="Desirae Wilkins's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=32");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/popup/long" data-show-in-modal>Desirae Wilkins</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a long popup with a link to short poup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Haley Bowers"
										class="avatar__wrapper"
										href="/blahblah/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">HB</abbr>
										<div
											role="img"
											aria-label="Haley Bowers's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=33");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/blahblah/" data-show-in-modal>Haley Bowers</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with the content of a wrong URL</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Dayami Jackson"
										class="avatar__wrapper"
										href="//gamesysgroup.com"
										target="_blank"
										tabindex="-1"
										><abbr class="avatar__abbreviation">DJ</abbr>
										<div
											role="img"
											aria-label="Dayami Jackson's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=34");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="//gamesysgroup.com" target="_blank"
											>Dayami Jackson</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens the link in a new window</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Nasir Bass"
										class="avatar__wrapper"
										href="/p/2/"
										data-ajax-prevent
										tabindex="-1"
										><abbr class="avatar__abbreviation">NB</abbr>
										<div
											role="img"
											aria-label="Nasir Bass's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=35");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/2/" data-ajax-prevent>Nasir Bass</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span
											>Opens the link in the same document without using
											JavaScript</span
										>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Henry Monroe"
										class="avatar__wrapper"
										href="/p/3/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">HM</abbr>
										<div
											role="img"
											aria-label="Henry Monroe's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=36");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/3/">Henry Monroe</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span
											>Opens the link in the same document via JavaScript</span
										>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card" id="reloadable-card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Ella Kline"
										class="avatar__wrapper"
										href="/"
										data-ajax-url="new-card"
										data-ajax-target="#reloadable-card"
										tabindex="-1"
										><abbr class="avatar__abbreviation">EK</abbr>
										<div
											role="img"
											aria-label="Ella Kline's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=37");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a
											href="/"
											data-ajax-url="new-card"
											data-ajax-target="#reloadable-card"
											>Ella Kline</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Updates this Card block with a new content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Aaron Harper"
										class="avatar__wrapper"
										href="/static/css/styles.js"
										target="_blank"
										tabindex="-1"
										><abbr class="avatar__abbreviation">AH</abbr>
										<div
											role="img"
											aria-label="Aaron Harper's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=38");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/static/css/styles.js" target="_blank"
											>Dean Garrett</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a not-found static asset in a new window</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Vanessa Day"
										class="avatar__wrapper"
										href="/popup/short/"
										data-show-in-modal
										data-modal-title="Travis Rangel (Custom Title)"
										tabindex="-1"
										><abbr class="avatar__abbreviation">VD</abbr>
										<div
											role="img"
											aria-label="Vanessa Day's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=39");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a
											href="/popup/short/"
											data-show-in-modal
											data-modal-title="Travis Rangel (Custom Title)"
											>Vanessa Day</a
										>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with custom static title</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Ali Ryan"
										class="avatar__wrapper"
										href="/lazy/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">AR</abbr>
										<div
											role="img"
											aria-label="Ali Ryan's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=40");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lazy/" data-show-in-modal>Ali Ryan</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a popup with lazy loaded content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Aubree Hammond"
										class="avatar__wrapper"
										href="/home/"
										data-show-in-modal
										tabindex="-1"
										><abbr class="avatar__abbreviation">AH</abbr>
										<div
											role="img"
											aria-label="Aubree Hammond's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=41");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/p/1/" data-show-in-modal>Aubree Hammond</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens homepage content in a popup</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Aditya Johnson"
										class="avatar__wrapper"
										href="/lorem/ipsum/p/5/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">AJ</abbr>
										<div
											role="img"
											aria-label="Aditya Johnson's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=42");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lorem/ipsum/p/5/">Aditya Johnson</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a link with multi-part URL</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Rihanna Mosley"
										class="avatar__wrapper"
										href="/empty/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">RM</abbr>
										<div
											role="img"
											aria-label="Rihanna Mosley's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=43");'
										></div>
									</a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/empty/">Rihanna Mosley</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens an empty page</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Nehemiah Riggs"
										class="avatar__wrapper"
										href="/lazy/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">NR</abbr>
										<div
											role="img"
											aria-label="Nehemiah Riggs's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=44");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/lazy/">Nehemiah Riggs</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a page with lazy loaded content</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="card">
						<div class="card__inner">
							<div class="card__column card__column--image">
								<figure class="avatar card__avatar">
									<a
										title="Paxton Trujillo"
										class="avatar__wrapper"
										href="/blabblah/"
										tabindex="-1"
										><abbr class="avatar__abbreviation">PT</abbr>
										<div
											role="img"
											aria-label="Paxton Trujillo's Avatar"
											class="avatar__image"
											style='background-image: url("//i.pravatar.cc/90?img=45");'
										></div
									></a>
								</figure>
							</div>
							<div class="card__column card__column--info">
								<div class="card__header">
									<h3 class="card__title">
										<a href="/blahblah/">Paxton Trujillo</a>
									</h3>
								</div>
								<ul class="card__meta">
									<li class="card__meta-item card__meta-item--subject">
										<span>Opens a not-found page</span>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</main>
</div>
