<div class="content-container hidden" data-partial="content-template"></div>
<div class="container">
	<header class="header">
		<div class="wrapper">
			<div class="header__inner">
				<div class="header__column">
					<a
						href="//gamesysgroup.com"
						target="_blank"
						rel="noopener noreferrer nofollow"
						class="header__logo"
						itemscope="itemscope"
						itemtype="https://schema.org/Organization"
					>
						<span class="logo">
							<img
								role="presentation"
								src="/images/logo.svg"
								width="124"
								height="32"
								alt="Gamesys Group"
								title="Visit Gamesys Group website"
								class="logo__image"
							/>
						</span>
					</a>
				</div>
				<div class="header__column">
					<a
						href="/"
						title="Go to the demo home"
						class="button button--green button--small"
						>Home</a
					>
				</div>
			</div>
		</div>
	</header>
	<div class="content" data-partial="{{CURRENT_PAGE}}"></div>
	<footer class="footer">
		<div class="wrapper">
			<span>Gamesys Group © 2020</span>
		</div>
	</footer>
</div>
<div class="modal-container" data-partial="modal-template"></div>
