<div class="visuallyhidden" data-partial-title>Anybody AnyFamily (Long)</div>
<div data-partial-content>
	<div class="text-align-center pv-20">
		<figure class="avatar avatar--large card__avatar mb-20">
			<div title="Anybody AnyFamily" class="avatar__wrapper">
				<abbr class="avatar__abbreviation">AA</abbr>
				<div
					role="img"
					aria-label="Anybody AnyFamily's Avatar"
					class="avatar__image"
					style='background-image: url("https://i.pravatar.cc/90?img=46");'
				></div>
			</div>
		</figure>
		<h3>Anybody AnyFamily</h3>
		<span class="h3 color--green semibold">(123) 456-7890</span>
	</div>
	<hr />
	<ul class="info mb-50">
		<li class="info__item">
			<span class="info__title">
				<strong>Organization</strong>
				<span class="visuallyhidden">:</span> </span
			><span class="info__content">Weiler Corp</span>
		</li>
		<li class="info__item">
			<span class="info__title"
				><strong>Location</strong><span class="visuallyhidden">:</span></span
			><span class="info__content">Natchez, MS 39120, USA</span>
		</li>
		<li class="info__item">
			<span class="info__title"
				><strong>Groups</strong><span class="visuallyhidden">:</span></span
			><span class="info__content">EU clients</span>
		</li>
		<li class="info__item">
			<span class="info__title"
				><strong>Assistant</strong><span class="visuallyhidden">:</span></span
			><span class="info__content">Bobbie Greeson</span>
		</li>
		<li class="info__item">
			<span class="info__title"
				><strong>Email</strong><span class="visuallyhidden">:</span></span
			><span class="info__content">caitlin.horn@example.com</span>
		</li>
		<li class="info__item">
			<span class="info__title"
				><strong>Story</strong><span class="visuallyhidden">:</span></span
			>
			<div class="info__content">
				<p>
					Lorem ipsum dolor sit amet, consectetur <em>adipisicing</em> elit.
					Laudantium ratione, deserunt? Cum labore nam repudiandae vel incidunt,
					sint magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio
					<strong>iusto odio doloribus</strong> et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor <strong class="color--red">sit amet</strong>,
					consectetur adipisicing elit. Laudantium ratione, deserunt? Cum labore
					nam repudiandae vel incidunt, sint magnam sunt quam maxime, dolores
					delectus distinctio iusto odio doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					<strong class="color--green">Laudantium ratione</strong>, deserunt?
					Cum labore nam repudiandae vel incidunt, sint magnam sunt quam maxime,
					dolores delectus distinctio iusto odio doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
					ratione, deserunt? Cum labore nam repudiandae vel incidunt, sint
					magnam sunt quam maxime, dolores delectus distinctio iusto odio
					doloribus et debitis.
				</p>
			</div>
		</li>
	</ul>
</div>
<div class="visuallyhidden" data-modal-footer-content>
	<button
		title="Custom trigger for the short popup"
		class="button"
		data-show-in-modal
		data-ajax-url="/popup/short"
	>
		<span>Show less</span>
	</button>
</div>
