<div class="visuallyhidden" data-partial-title>
	Anybody AnyFamily (Short)
</div>
<div data-partial-content>
	<div class="text-align-center pv-20">
		<figure class="avatar avatar--large card__avatar mb-20">
			<div title="Anybody AnyFamily" class="avatar__wrapper">
				<abbr class="avatar__abbreviation">AA</abbr>
				<div
					role="img"
					aria-label="Anybody AnyFamily's Avatar"
					class="avatar__image"
					style='background-image: url("https://i.pravatar.cc/90?img=46");'
				></div>
			</div>
		</figure>
		<h3>Anybody AnyFamily</h3>
		<span class="h3 color--green semibold">(123) 456-7890</span>
	</div>
</div>
<div class="visuallyhidden" data-modal-footer-content>
	<button
		title="Custom trigger for the long popup"
		class="button"
		data-show-in-modal
		data-ajax-url="/popup/long"
	>
		<span>Show more</span>
	</button>
</div>
