@charset "UTF-8";
/*==============================
=            Styles            =
==============================*/
/*=======================================
=            Color Constants            =
=======================================*/
/*========================================
=            Layout Constants            =
========================================*/
/*=========================================
=            Spacing Constants            =
=========================================*/
/*====================================
=            Unit Helpers            =
====================================*/
/*========================================
=            Layout Constants            =
========================================*/
/*=====================================
=            Color Helpers            =
=====================================*/
/*=======================================
=            Color Constants            =
=======================================*/
/*=======================================
=            Spacing Helpers            =
=======================================*/
/*=========================================
=            Spacing Constants            =
=========================================*/
/**
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
main, summary {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * modified version of normalize.css 3.0.2
 * http://necolas.github.io/normalize.css/
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

/**
 * HTML5 display definitions
 * =============================================================================
 */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/**
 * Links
 * =============================================================================
 */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * Text-level semantics
 * =============================================================================
 */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * 1. Address styling not present in Safari and Chrome.
 * 2. Set previously resetted italic font-style
 */
dfn,
i, em {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * Embedded content
 * =============================================================================
 */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/**
 * Grouping content
 * =============================================================================
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/**
 * Forms
 * =============================================================================
 */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: none; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/*======================================
=            Default Styles            =
======================================*/
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll; }
  html.not--scrollable {
    overflow: hidden; }
    html.not--scrollable body {
      overflow-y: scroll; }

body {
  background-color: white;
  color: #3f4346;
  font: normal normal 500 1rem/ 140% Open Sans, sans-serif;
  overflow: hidden; }

*,
*::before,
*::after {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

*::-moz-selection {
  background-color: black;
  color: white;
  text-shadow: none; }

*::selection {
  background-color: black;
  color: white;
  text-shadow: none; }

em,
strong {
  font-weight: 600; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600; }

h1 {
  font-size: 1.25em; }

h2 {
  font-size: 1.125em; }

h3 {
  font-size: 1.0625em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.9375em; }

h6 {
  font-size: 0.875em; }

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

a,
button,
[role='button'],
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer; }
  a:active,
  button:active,
  [role='button']:active,
  input[type='button']:active,
  input[type='reset']:active,
  input[type='submit']:active {
    -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
         -o-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; }

a:-moz-focusring,
input:-moz-focusring,
button:-moz-focusring,
[role='button']:-moz-focusring {
  outline: none; }

a:focus,
input:focus,
button:focus,
[role='button']:focus {
  outline: none; }

hr {
  margin: 1.875em auto;
  border: 0 none;
  border-bottom: 0.125em solid #ebebeb;
  -webkit-box-shadow: 0 0.125em 0.3125em rgba(235, 235, 235, 0.5);
     -moz-box-shadow: 0 0.125em 0.3125em rgba(235, 235, 235, 0.5);
          box-shadow: 0 0.125em 0.3125em rgba(235, 235, 235, 0.5); }

[hidden] {
  display: none !important; }

/*======================================================
=            Layout Styles & Common classes            =
======================================================*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.hidden {
  display: none !important; }

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.text-align-center {
  text-align: center; }

.semibold {
  font-weight: 600; }

.h1 {
  font-size: 1.25em; }

.h2 {
  font-size: 1.125em; }

.h3 {
  font-size: 1.0625em; }

.h4 {
  font-size: 1.0625em; }

.h5 {
  font-size: 1em; }

.h6 {
  font-size: 0.9375em; }

.width--full {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.height--full {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*======================================
=              Animations              =
======================================*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0);
         transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0);
       transform: rotate(0); }
  to {
    -o-transform: rotate(360deg);
       transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spin-centered {
  0% {
    -webkit-transform: rotate(0) translate(-50%, -50%);
            transform: rotate(0) translate(-50%, -50%); }
  to {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%); } }

@-moz-keyframes spin-centered {
  0% {
    -moz-transform: rotate(0) translate(-50%, -50%);
         transform: rotate(0) translate(-50%, -50%); }
  to {
    -moz-transform: rotate(360deg) translate(-50%, -50%);
         transform: rotate(360deg) translate(-50%, -50%); } }

@-o-keyframes spin-centered {
  0% {
    -o-transform: rotate(0) translate(-50%, -50%);
       transform: rotate(0) translate(-50%, -50%); }
  to {
    -o-transform: rotate(360deg) translate(-50%, -50%);
       transform: rotate(360deg) translate(-50%, -50%); } }

@keyframes spin-centered {
  0% {
    -webkit-transform: rotate(0) translate(-50%, -50%);
       -moz-transform: rotate(0) translate(-50%, -50%);
         -o-transform: rotate(0) translate(-50%, -50%);
            transform: rotate(0) translate(-50%, -50%); }
  to {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
       -moz-transform: rotate(360deg) translate(-50%, -50%);
         -o-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%); } }

.color--white, .color--white:visited, .color--white:active {
  color: #ffffff; }

.color--black, .color--black:visited, .color--black:active {
  color: #000000; }

.color--gray-light-ultra, .color--gray-light-ultra:visited, .color--gray-light-ultra:active {
  color: #f7f7f7; }

.color--gray-light-very, .color--gray-light-very:visited, .color--gray-light-very:active {
  color: #ebebeb; }

.color--gray-light, .color--gray-light:visited, .color--gray-light:active {
  color: #b1b1b1; }

.color--gray, .color--gray:visited, .color--gray:active {
  color: #9f9fa1; }

.color--gray-dark, .color--gray-dark:visited, .color--gray-dark:active {
  color: #6e6e6e; }

.color--gray-dark-very, .color--gray-dark-very:visited, .color--gray-dark-very:active {
  color: #3f4346; }

.color--gray-dark-extra, .color--gray-dark-extra:visited, .color--gray-dark-extra:active {
  color: #222222; }

.color--green, .color--green:visited, .color--green:active {
  color: #08a742; }

.color--red, .color--red:visited, .color--red:active {
  color: #e43229; }

.color--blue, .color--blue:visited, .color--blue:active {
  color: #5c7fa5; }

.color--blue-light, .color--blue-light:visited, .color--blue-light:active {
  color: #d3e8fd; }

.color--orange, .color--orange:visited, .color--orange:active {
  color: #fac343; }

.m-0 {
  margin: 0px !important; }

.mh-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.mv-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.p-0 {
  padding: 0px !important; }

.ph-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.m-5 {
  margin: 5px !important; }

.mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important; }

.mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.p-5 {
  padding: 5px !important; }

.ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.pv-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.m-10 {
  margin: 10px !important; }

.mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.p-10 {
  padding: 10px !important; }

.ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.pv-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.m-15 {
  margin: 15px !important; }

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.p-15 {
  padding: 15px !important; }

.ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.m-20 {
  margin: 20px !important; }

.mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.p-20 {
  padding: 20px !important; }

.ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.pv-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.m-25 {
  margin: 25px !important; }

.mh-25 {
  margin-left: 25px !important;
  margin-right: 25px !important; }

.mv-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.p-25 {
  padding: 25px !important; }

.ph-25 {
  padding-left: 25px !important;
  padding-right: 25px !important; }

.pv-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.m-30 {
  margin: 30px !important; }

.mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important; }

.mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.p-30 {
  padding: 30px !important; }

.ph-30 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.pv-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.m-35 {
  margin: 35px !important; }

.mh-35 {
  margin-left: 35px !important;
  margin-right: 35px !important; }

.mv-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.p-35 {
  padding: 35px !important; }

.ph-35 {
  padding-left: 35px !important;
  padding-right: 35px !important; }

.pv-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.m-40 {
  margin: 40px !important; }

.mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.p-40 {
  padding: 40px !important; }

.ph-40 {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.pv-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.m-50 {
  margin: 50px !important; }

.mh-50 {
  margin-left: 50px !important;
  margin-right: 50px !important; }

.mv-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.p-50 {
  padding: 50px !important; }

.ph-50 {
  padding-left: 50px !important;
  padding-right: 50px !important; }

.pv-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

/*======================================
=            Spinner Styles            =
======================================*/
.spinner, .is--loading:after {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  border: 0.125em solid rgba(177, 177, 177, 0.5);
  border-top-color: #e43229;
  border-right-color: #e43229;
  -webkit-animation: spin 500ms linear infinite;
     -moz-animation: spin 500ms linear infinite;
       -o-animation: spin 500ms linear infinite;
          animation: spin 500ms linear infinite; }

.is--loading {
  position: relative;
  min-height: 3.125em; }
  .is--loading:before, .is--loading:after {
    content: '';
    z-index: 2;
    position: absolute; }
  .is--loading:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); }
  .is--loading:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    font-size: 1.25em;
    -webkit-animation-name: spin-centered;
       -moz-animation-name: spin-centered;
         -o-animation-name: spin-centered;
            animation-name: spin-centered; }

/*=====================================
=            Avatar Styles            =
=====================================*/
.avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 3.125em;
  height: 3.125em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .avatar--large {
    font-size: 1.8125em; }
  .avatar__image, .avatar__wrapper {
    display: block;
    width: 100%;
    height: 100%; }
  .avatar__wrapper {
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    overflow: hidden;
    background-color: #d3e8fd;
    color: #5c7fa5;
    font-weight: 600;
    text-align: center;
    line-height: 3.125em;
    text-decoration: none; }
    .avatar__wrapper, .avatar__wrapper:active {
      -webkit-box-shadow: 0 0 0 0.0625rem #ebebeb;
         -moz-box-shadow: 0 0 0 0.0625rem #ebebeb;
              box-shadow: 0 0 0 0.0625rem #ebebeb; }
    .avatar__wrapper:active {
      -webkit-transform: scale(1);
         -moz-transform: scale(1);
          -ms-transform: scale(1);
           -o-transform: scale(1);
              transform: scale(1); }
  .avatar__image {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover; }

/*=====================================
=            Button Styles            =
=====================================*/
.button {
  display: inline-block;
  vertical-align: middle;
  min-width: 6.33333em;
  padding: 0.625rem 1.25rem;
  -webkit-border-radius: 0.1875rem;
     -moz-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
  border: 0.0625rem solid rgba(177, 177, 177, 0.5);
  -webkit-box-shadow: 0 0.0625rem 0.125rem rgba(159, 159, 161, 0.25);
     -moz-box-shadow: 0 0.0625rem 0.125rem rgba(159, 159, 161, 0.25);
          box-shadow: 0 0.0625rem 0.125rem rgba(159, 159, 161, 0.25);
  background-color: white;
  color: inherit;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  font-size: 0.9375em;
  font-weight: 600;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button:hover, .button:focus {
    background-color: rgba(177, 177, 177, 0.05); }
  .button:hover {
    border-color: #b1b1b1; }
  .button:focus {
    -webkit-box-shadow: 0 0 0 0.0625rem;
       -moz-box-shadow: 0 0 0 0.0625rem;
            box-shadow: 0 0 0 0.0625rem;
    border-color: #6e6e6e; }
  .button--small, .button--xsmall {
    min-width: auto;
    -webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(159, 159, 161, 0.5);
       -moz-box-shadow: 0 0.0625rem 0.1875rem rgba(159, 159, 161, 0.5);
            box-shadow: 0 0.0625rem 0.1875rem rgba(159, 159, 161, 0.5);
    padding: 0.25rem 0.375rem;
    font-size: 0.75em; }
  .button--xsmall {
    font-size: 0.5em; }
  .button--green {
    border-color: #08a742;
    color: #08a742; }
    .button--green:hover, .button--green:focus {
      border-color: #08a742;
      background-color: rgba(8, 167, 66, 0.025); }
  .button--red {
    border-color: #e43229;
    color: #e43229; }
    .button--red:hover, .button--red:focus {
      border-color: #e43229;
      background-color: rgba(228, 50, 41, 0.025); }
  .button[disabled], .button.is--disabled {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    cursor: not-allowed; }

/*===================================
=            Card Styles            =
===================================*/
.card {
  position: relative;
  -webkit-border-radius: 0.1875rem;
     -moz-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
  border: 1px solid #ebebeb;
  list-style: none;
  -webkit-box-shadow: 0 0 0.1875rem rgba(177, 177, 177, 0.45);
     -moz-box-shadow: 0 0 0.1875rem rgba(177, 177, 177, 0.45);
          box-shadow: 0 0 0.1875rem rgba(177, 177, 177, 0.45);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: fadeIn 500ms;
     -moz-animation: fadeIn 500ms;
       -o-animation: fadeIn 500ms;
          animation: fadeIn 500ms; }
  .card:hover {
    -webkit-box-shadow: 0 0 0.1875rem #222222;
       -moz-box-shadow: 0 0 0.1875rem #222222;
            box-shadow: 0 0 0.1875rem #222222; }
  .card + .card {
    margin-top: 0.625em; }
  .card__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -0.3125em;
    padding: 0.875em 1.875em; }
    @media (max-width: 47.99em) {
      .card__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center; } }
  .card__column {
    padding: 0.25em 0.3125em; }
    .card__column--info {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  .card__header {
    min-height: 1.375em; }
    .card__header > * {
      z-index: 1;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.625em; }
      @media (max-width: 47.99em) {
        .card__header > * {
          display: inline;
          margin-right: 0; } }
    .card__header + * {
      margin-top: 0.1875em; }
  .card__title {
    color: #3f4346; }
    .card__title > * {
      display: block; }
      @media (min-width: 48em) {
        .card__title > * {
          max-width: 26.25em;
          white-space: nowrap;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
          overflow: hidden; } }
      @media (max-width: 47.99em) {
        .card__title > * {
          display: inline; } }
    .card__title a {
      color: inherit;
      text-decoration: none; }
      .card__title a:hover, .card__title a:active, .card__title a:focus {
        text-decoration: underline; }
      .card__title a:active {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
        opacity: 0.8; }
  .card__meta {
    color: #9f9fa1;
    line-height: 1; }
    .card__meta-item {
      z-index: 1;
      position: relative;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 0.75em;
      text-align: left;
      font-size: 0.875em; }
      @media (max-width: 47.99em) {
        .card__meta-item {
          margin: 0 0.375em; } }
      .card__meta-item--subject:before {
        content: '✔';
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        margin-right: 0.42857em; }
  .card__avatar {
    z-index: 1;
    position: relative; }
    @media (max-width: 47.99em) {
      .card__avatar {
        font-size: 1.8125em; } }

/*==============================================
=            Content Section Styles            =
==============================================*/
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .content.is--loading:after, .content__wrapper.is--loading:after {
    top: 20%; }
    @media (max-width: 47.99em) {
      .content.is--loading:after, .content__wrapper.is--loading:after {
        top: 12.25rem; } }
  .content__header {
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.975);
    -webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(177, 177, 177, 0.35);
       -moz-box-shadow: 0 0.0625rem 0.1875rem rgba(177, 177, 177, 0.35);
            box-shadow: 0 0.0625rem 0.1875rem rgba(177, 177, 177, 0.35); }
    .content__header--is-sticked .content-header__inner {
      padding: 0.3125rem 0; }
  .content__body {
    z-index: 0;
    position: relative; }
  .content-header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -0.3125rem;
    padding: 1.125rem 0;
    -webkit-transition: padding 150ms ease;
    -o-transition: padding 150ms ease;
    -moz-transition: padding 150ms ease;
    transition: padding 150ms ease; }
  .content-header__column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.3125rem 0.3125rem; }
    .content-header__column:last-child {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
         -moz-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .content-header__column:first-child {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
         -moz-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .content-header__column > * + * {
      margin-left: 0.625rem; }
  .content-body__inner {
    padding-top: 1.3125rem;
    padding-bottom: 4.25rem; }

/*====================================
=            Error Styles            =
====================================*/
.error-code {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3125em 0.625em;
  -webkit-border-radius: 0.1875rem;
     -moz-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
  background-color: #e43229;
  color: white;
  font-size: 0.75em;
  line-height: 1; }
  .error-code__label {
    font-weight: 700; }
    .error-code__label + * {
      margin-left: 0.3125em; }
  .error-code + .error-message {
    margin-top: 0.3125em; }

.error-message {
  display: block;
  font-size: 1.0625em;
  font-weight: 600; }

/*=====================================
=            Footer Styles            =
=====================================*/
.footer {
  padding: 1.0625rem 0;
  font-size: 0.8125em;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 -0.0625rem 0.1875rem rgba(177, 177, 177, 0.45);
     -moz-box-shadow: 0 -0.0625rem 0.1875rem rgba(177, 177, 177, 0.45);
          box-shadow: 0 -0.0625rem 0.1875rem rgba(177, 177, 177, 0.45); }

/*=====================================
=            Header Styles            =
=====================================*/
.header {
  z-index: 2;
  position: relative;
  background-color: #3f4346;
  -webkit-box-shadow: 0 0.0625rem 0.0625rem #9f9fa1;
     -moz-box-shadow: 0 0.0625rem 0.0625rem #9f9fa1;
          box-shadow: 0 0.0625rem 0.0625rem #9f9fa1;
  color: white; }
  .header a:not(.button) {
    color: inherit; }
  .header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.75rem 0; }
  .header__column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.1875rem 0; }
  .header__logo {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 600; }
    .header__logo:focus {
      opacity: 0.8; }
  .header .button {
    background-color: transparent; }

/*===================================
=            Info Styles            =
===================================*/
.info {
  font-size: 0.875em;
  line-height: 1; }
  .info__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 47.99em) {
      .info__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .info__item + .info__item {
      margin-top: 1.64286em; }
  .info__title {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 9.28571em;
    padding-right: 2em;
    color: #6e6e6e;
    text-align: right;
    font-weight: 600;
    text-transform: capitalize; }
    @media (max-width: 47.99em) {
      .info__title {
        text-align: inherit;
        padding-right: 0; }
        .info__title + * {
          margin-top: 0.35714em; } }
    .info__title > * {
      display: inline-block;
      vertical-align: middle;
      font-weight: inherit; }
  .info__content {
    color: #9f9fa1; }

/*===================================
=            Logo Styles            =
===================================*/
.logo, .logo__image {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700; }

/*====================================
=            Modal Styles            =
====================================*/
.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden; }
  .modal__overlay {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer; }
  .modal__inner {
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 37.5rem;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    background-color: white;
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.3);
    cursor: initial; }
  .modal__header, .modal__content, .modal__footer {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .modal__header, .modal__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 3.625rem;
    background-color: #f7f7f7; }
  .modal__header {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    border-bottom: 0.125rem solid #ebebeb;
    line-height: 1; }
    .modal__header > * {
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem; }
  .modal__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
    overflow: auto; }
    .modal__content p {
      font-size: 0.875rem; }
  .modal__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-top: 0.125rem solid #ebebeb;
    -webkit-box-shadow: 0 -0.125rem 0.125rem rgba(0, 0, 0, 0.015);
       -moz-box-shadow: 0 -0.125rem 0.125rem rgba(0, 0, 0, 0.015);
            box-shadow: 0 -0.125rem 0.125rem rgba(0, 0, 0, 0.015); }
  .modal__close {
    display: inline-block;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border: 0 none;
    background: none;
    color: #6e6e6e;
    line-height: 1;
    font-size: 1.6875em;
    font-weight: 600;
    line-height: 0.51852em;
    overflow: hidden;
    /*
			// Styles to install the Close button right in the corner:
			// => But they are not used in order to prevent RWD issues
			position: absolute;
			top: 0;
			right: 0;
			width: rem(35);
			height: rem(35);
			border-radius: 50%;
			transform: translate(50%,-50%);
			box-shadow: 0 0 5px get-color( 'black',0.25);
			background-color: get-color('white');
		 */ }
    .modal__close:before {
      display: block;
      content: '×';
      line-height: inherit; }
    .modal__close:hover, .modal__close:focus {
      color: #222222; }
  .modal.is--visible {
    opacity: 1;
    visibility: visible; }
  .modal.is--loading:before {
    content: none; }
  .modal.is--loading .modal__inner {
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0); }

/*===================================
=            Page Styles            =
===================================*/
#root,
.container {
  min-height: 100vh; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.wrapper {
  width: 75rem;
  max-width: 90%;
  margin: 0 auto; }

/*=========================================
=            Pagination Styles            =
=========================================*/
.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .pagination__item + * {
    margin-left: 0.35714em; }
  .pagination__item--previous-group .pagination__link:before {
    content: '«'; }
  .pagination__item--next-group .pagination__link:before {
    content: '»'; }
  .pagination__item--previous-page .pagination__link:before {
    content: '‹'; }
  .pagination__item--next-page .pagination__link:before {
    content: '›'; }
  .pagination__item--is-active .pagination__link {
    pointer-events: none;
    border-color: #6e6e6e;
    background-color: #6e6e6e;
    color: #f7f7f7; }
  .pagination__link {
    display: block;
    height: 2.28571em;
    min-width: 2.28571em;
    padding: 0 0.35714em;
    -webkit-border-radius: 0.1875rem;
       -moz-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
    border: 0.125rem solid #b1b1b1;
    background-color: #f7f7f7;
    color: #6e6e6e;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    font-size: 0.875em;
    font-weight: 600; }
    .pagination__link:before {
      font-size: 1.125em;
      line-height: 1; }
    .pagination__link:hover, .pagination__link:focus {
      border-color: #6e6e6e;
      color: #3f4346; }
    .pagination__link--is-disabled {
      pointer-events: none;
      border-color: #ebebeb !important;
      color: #b1b1b1 !important; }
